.back-link {
    margin-bottom: 12px;
}
.back-link a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
.back-link a .arrow-back {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.back-link a .arrow-back img {
    width: 16px;
    object-fit: contain;
}
.back-link a p {
    margin-left: 17px;
    font-size: 13px;
    color: #e5e5e5;
    letter-spacing: 0.05em;
    margin-bottom: 0;
}
/*.main-about-section {
	background-image: url("http://gateway.devcmitexpert.com:3001/waves.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: screen;
	background-color: #170627;
	min-height: 700px;
	background-position: bottom;
	padding-bottom: 100px;
}*/
.gt-about-section h1 {
    background: linear-gradient(
        to right,
        #ee787b 0%,
        #e153f2 29.17%,
        #495be0 67.19%,
        #6a39f3 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 96px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: -0.05em;
    line-height: 110px;
}
.ck.ck-editor {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
    background: #170627 !important;
}
.ck-content {
    color: #a5a5a5;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    background: #170627 !important;
    min-height: 210px;
    border: none !important;
    border-radius: 5px !important;
    margin-bottom: 50px;
}
.ck-toolbar {
    background: #170627 !important;
}
.counting-number {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #fff;
    margin-bottom: 13px;
}
.text-editor {
    max-width: 670px;
    margin: auto;
}
.text-editor .btn-primary {
    font-size: 13px;
    letter-spacing: 0.05em;
    font-weight: 700;
    max-width: 245px;
    margin: auto;
    padding: 9px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #a5a5a5;
    margin-top: 55px;
    background: #170627;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: 0.3s;
}
.text-editor .btn-primary:hover,
.text-editor .btn-primary:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.3s;
}
.text-editor .ck-label {
    display: none;
}
.text-editor .ck-heading-dropdown {
    display: none !important;
}
header.gateway-header
    .navbar-expand-lg
    .navbar-nav
    li.last-nav-item
    a.nav-link {
    position: relative;
    padding: 15px;
    color: #fff;
    background: #170627;
    background-clip: padding-box;
    /* border: solid 5px transparent; */
    border-radius: 30px;
}
header.gateway-header
    .navbar-expand-lg
    .navbar-nav
    li.last-nav-item
    a.nav-link:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(
        to right,
        #ff00b8 0%,
        #7e3bdc 50.52%,
        #0075ff 100%
    );
}

.form-label,
.time-label {
    color: #fff;
}
label.form-check-label {
    color: #fff;
}
.add-exp-outer .container {
    max-width: 750px;
}
.selected-options {
    clear: both;
    float: left;
    width: 100%;
}
.selected-options p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    border-radius: 30px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    position: relative;
    margin-top: 10px;
    padding-right: 10px;
}
.selected-options p span {
    cursor: pointer;
    margin-left: 10px;
    float: left;
}
.selected-options p span img {
    float: left;
}
/*.selected-options p span {
    font-size: 10px;
    background: #7E3BDC;
    width: 17px;
    height: 17px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #fff;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    margin-left: 10px;
    font-family: sans-serif;
    font-weight: 400;
}*/
.selected-options p {
    display: flex;
    align-items: center;
    width: auto;
    float: left;
}
.select__control {
    background: none !important;
    border-color: rgba(255, 255, 255, 0.2) !important;
    position: relative;
    border-radius: 4px !important;
}
.select__menu {
    border-radius: 4px !important;
}

.select__indicators {
    display: none !important;
}

.select__control:after {
    content: '';
    /* background: url(http://gateway.devcmitexpert.com/search-icon.svg) no-repeat
        center center; */
    width: 22px;
    height: 24px;
    right: 10px;
    position: absolute;
}
label.form-label {
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
.form-control,
.form-select {
    background-color: transparent !important;
    border-color: rgba(255, 255, 255, 0.2);
    color: #a5a5a5;
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 5px;
}
.form-select {
    background-color: transparent !important;
    background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23ffffff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e') !important;
}

/*autocomplete css start here*/
ul.autocomplete-results li.result-item {
    border: none;
    padding: 12px;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
ul.autocomplete-results li.result-item:hover {
    background: blue;
    color: #fff;
}
ul.autocomplete-results {
    border: 1px solid #7e3bdc;
    margin-top: 10px;
    background: #220a38;
}
input.form-control[placeholder='Search'] {
    position: relative;
}
input.form-control[placeholder='Search']:after {
    content: '';
    /* background: url(http://gateway.devcmitexpert.com/search-icon.svg) no-repeat
        center center; */
    width: 22px;
    height: 24px;
    right: 10px;
    position: absolute;
}
.selected-options p img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 6px;
}
.selected-options p .selectClose img {
    width: 18px;
    height: 18px;
    object-fit: unset;
    margin-right: unset;
}
.loader-search {
    text-align: center;
    margin-top: 15px;
}
ul.autocomplete-results li.result-item.selected {
    background: #00008b;
    cursor: inherit;
}
ul.autocomplete-results li.result-item.selected:hover {
    background: #00008b;
}

p.time-label strong {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
}
label.form-check-label {
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 14px;
}
label.time-label.form-label {
    text-transform: inherit;
    font-weight: 400;
    font-size: 14px;
}
.add-exp-outer .mb-3 {
    margin-bottom: 20px !important;
}
label.form-label strong {
    font-weight: 700;
    letter-spacing: 0.5px;
}
input[type='time']::-webkit-calendar-picker-indicator {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}
body {
    padding: 0;
    margin: 0;
}

.main-about-section .container {
    position: relative;
    z-index: 0;
}

@media (max-width: 767px) {
    .mbl-full {
        display: block !important;
    }
}
