.Minter {
    display: flex;
}
.Minter button,
.Minter .dropdown {
    box-sizing: border-box;
    border-radius: 20px;
    background-color: unset;
    color: #e5e5e5;
    text-transform: uppercase;
    padding: 10px 30px;
    font-family: 'Poppins';
    border: solid 1px transparent;
    background-image: linear-gradient(#170627, #170627),
        linear-gradient(90deg, #ff00b8 0%, #7e3bdc 50.52%, #0075ff 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 1px 1000px 1px #170627 inset;
    margin-right: 50px;
}
.Minter button:hover {
    cursor: pointer;
    color: #7e3bdc;
}

.Minter .dropdown-header {
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Minter .dropdown-body {
    border-top: 1px solid #e5e8ec;
    display: none;
}

.Minter .dropdown-body.open {
    display: block;
    padding-top: 10px;
}

.Minter .dropdown-item {
    padding: 10px;
}

.Minter .dropdown-item:hover {
    cursor: pointer;
    background-color: unset !important;
    color: #fff !important;
}
